*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: darkseagreen;
    width: 100%;
    height: 15rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-text{
    display: flex;
    justify-content: center;
}
.polz{
   display: flex;
    justify-content: center;
}
.sidebar-nav {
  margin-top: 15px;
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
}

