{% extends 'base_generic.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
  <h2>Регистрация</h2>
   <br>
  <h2>Загрузите фото профиля по желанию</h2>
    {% if user.avatar %}
    <img src="{{user.avatar.url}} avatar" alt="{{user.username}}'s avatar">
    {% else %}
    <img src="static/catalog/images/def-avatar.jpg" alt="def-avatar">
    {% endif %}
    <button type="submit">Загрузить</button>
   <br>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зарегистрироваться</button>
  </form>
{% endblock %}

    {% if user.avatar %}
    <img src="{{user.avatar.url}} avatar" alt="{{user.username}}'s avatar">
    {% else %}
    <img src="static/catalog/images/def-avatar.jpg" alt="def-avatar">
    {% endif %}
    <button type="submit">Загрузить</button>