{% extends 'base_generic.html' %}

{% block title %} Регистрация {% endblock %}

{% block content %}
  <h2>Регистрация</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
          <h3>Загрузите фото профиля по желанию</h3>
        {% if user.avatar %}
        <img src="{{user.avatar.url}} avatar" alt="{{user.username}}'s avatar">
        {% endif %}
        <button type="submit">Загрузить</button>
      <br>
      <br>
      <br>
    <button type="submit">Зарегистрироваться</button>
  </form>
    {% endblock %}

